body {
	margin: 0;
	background: url(img/1.png);
	background-size: cover;
	overflow: hidden;
}

#formBox {
	width: 920px;
	height: auto;
	background: transparent;
	margin-left: 6%;
	margin-top: 4%;
}

#formBox p {
	font-size: 46px;
	font-family: raleway;
	font-weight: bold;
	color: #fff;
}

table {
	margin-top: 80px;
}

span {
	margin-left: 40px;
}

td {
	width: 150px;
	padding-top: 20px!important;
}

.wow {
	padding-left: 60px!important;
}

td p {
	font-family: didact gothic!important;
	display: inline!important;
	font-weight: bold!important;
	color: #fff!important;
	font-size: 18px!important;
	word-spacing: 1px!important;
	letter-spacing: 0.5px!important;
}

td input[type=text], input[type=password], textarea, input[type=number], input[type=date], select {
	border-radius: 3px;
	border: 0;
	padding: 10px 15px;
	width: 240px;
	font-family: didact gothic;
	font-size: 16px;
}

select {
	width: 270px;
}

#fowto {
	width: 385px;
	height: 400px;
	background-color: springgreen;
	position: absolute;
	margin-left: 62%;
	display: block;
	background: url(img/2.png);
}

hr { 
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #fff;
	margin: 1em 0;
	padding: 0;
	margin-top: 30px!important;
}

input[type=submit] {
	border-radius: 3px;
	border: 0;
	padding: 10px 15px;
	width: 240px;
	font-family: didact gothic;
	font-size: 16px;
	background-color: #2A60F0;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	border-color: #2A60F0;
}

#wowi {
	font-size: 18px!important;
	display: inline;
	margin-left: 40px;
}

#wowi a {
	color: #fff;
	text-decoration: none;
	list-style: none;
}

#wowi a:visited {
	color: #fff;
}

#wowi a:hover {
	text-decoration: underline;
}