body {
	margin: 0;
	background: url(img/4.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#formLogin {
	width: 500px;
	height: 400px;
	margin: auto;
	margin-top: 6%;
}

h1 {
	font-family: kg second chances sketch;
	font-size: 46px;
	color: #fff;
	margin-top: 60px;
	text-align: center;
}

#wr {
	font-size: 100px;
	color: #fff;
}

td {
	width: 150px;
}

input[type=text], input[type=password] {
	border-radius: 0;
	border: 0;
	padding: 10px 15px;
	width: 240px;
	font-family: dk cool crayon;
	font-size: 21px;
	border-bottom: 1px #ccc solid;
	background-color: transparent;
	margin-left: 23%;
	margin-top: 30px;
	color: #fff;
	transition: all 0.5s;
}

input[type=submit] {
	border-radius: 3px;
	border: 1px #ccc solid;
	padding: 10px 15px;
	width: 240px;
	font-family: dk cool crayon;
	font-size: 16px;
	background-color: transparent;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 26.5%;
	transition: all 0.3s;
}

input[type=submit]:hover {
	background-color: #fff;
	color: #000;
	transition: all 0.3s;
}

input[type=password]:focus, input[type=text]:focus {
	border-bottom: 3px #fff solid;
	transition: all 0.5s;
}

::-webkit-input-placeholder {
	color: #ccc;
}

:-moz-placeholder {
   color: #ccc;
   opacity: 1;
}

p {
	font-size: 18px;
	font-family: dk cool crayon;
	color: #fff;
	text-align: center;
}

#wowi {
	margin-top: -15px;
	font-size: 18px;
}

#wowi a {
	color: #fff;
	text-decoration: none;
	list-style: none;
}

#wowi a:visited {
	color: #fff;
}

#wowi a:hover {
	text-decoration: underline;
}