body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* ===================== Navbar 1 ==================== */

#navbar {
	width: 100vw;
	height: 70px;
	background-color: #3454FF;
}

#navbar .fa-chevron-left {
	font-size: 21px;
	padding: 10px 14px;
	border: 0;
	background-color: #2C47D8;
	margin: 13px 0  0 12px;
	color: #ccc;
	border-radius: 3px;
	cursor: pointer;
}

#navbar ul {
	float: right;
	background-color: #2C47D8;
	height: 50px;
	margin: 9px 20px 0 0;
	width: 210px;
	border-radius: 3px;
	color: #f4f4f4;
	text-decoration: none;
	list-style: none;
}

#navbar .fa-user-circle-o {
	font-size: 36px;
	padding: 7px;
	margin-left: -40px;
}

#navbar p {
	display: inline;
}

#row {
	float: unset;
	margin-left: 20px;
	font-size: 25px;
}

#navbar a:hover {
	background-color: #3454FF;
}

#navbar ul li a:hover {
	background-color: #2C47D8;
}

#aw {
	width: 30px!important;
}

/* ===================== a ==================== */

a {
	text-decoration: none;
	list-style: none;
	color: #fff;
	float: right;
	padding: 10px 20px 0 0;
	font-size: 20px;
	font-family: didact gothic;
}

a:visited {
	color: #fff;
}

a:hover {
	background-color: #2C47D8;
}

/* ===================== kon ==================== */

.sBenteng {
	width: 370px;
	height: 714px;
	background-color: #133DCE;
}

.item {
	width: 370px;
	height: auto;
	background-color: transparent;
}

.itemActive {
	width: 370px;
	height: 50px;
	background-color: transparent;
	text-align: center;
}

.list-group-item {
	float: left;
	padding-left: 20px;
	height: 50px;
	width: 330px;
	padding-top: 20px;
}

#navbar i:hover {
	transform: rotate(360deg);
	transition: all 0.5s;
}

img {
	margin-left: 300px;
	margin-top: 80px;
}

/* ===================== kontener ==================== */

.container {
	width: 1230px;
	height: 714px;
	background-color: #fff;
	position: absolute;
	margin-top: -714px;
	margin-left: 430px;
}

.container h1 {
	font-family: didact gothic;
	font-size: 36px;
	margin-left: 320px;
	color: #333;
}

.container p {
	font-family: didact gothic;
	margin-left: 440px;
	font-size: 21px;
	color: #333;
}

.fa-gear:hover {
	transform: rotate(1440deg);
	transition: all 0.5s;
}

/* ===================== Input ==================== */

input[type=text], input[type=password], textarea, input[type=number], input[type=date], select {
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 10px 15px;
	width: 240px;
	font-family: didact gothic;
	font-size: 16px;
}

select {
	width: 272px;
}

input[type=submit] {
	border-radius: 3px;
	border: 0;
	padding: 10px 15px;
	width: 240px;
	font-family: didact gothic;
	font-size: 16px;
	background-color: #2A60F0;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	border-color: #2A60F0;
}